In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('F:\Showroom\sales.xlsx')

In [3]:
#PENDING PAYMENT

df[df['STATUS']=='PENDING']

,DATE,CUSTOMER NAME,MOBILE NUMBER,DEPARTMENT,ITEM CODE,COLOR,SIZE,QTY,ITEM PRICE,TOTAL AMOUNT,PAID AMOUNT,STATUS,MODE OF PAYMENT
0,2022-05-29,ASHOKBHAI,NaN,JOCKEY,FP03,BLACK,L,1.0,299.0,299,NaN,PENDING,NaN
1,2022-05-29,ASHOKBHAI,NaN,JOCKEY,FP03,CHARCOAL,L,1.0,299.0,299,NaN,PENDING,NaN
2,2022-05-29,ASHOKBHAI,NaN,JOCKEY,FP04,WHITE,L,2.0,329.0,658,NaN,PENDING,NaN
3,2022-05-29,ASHOKBHAI,NaN,JOCKEY,ZN 05,ASSORTED,M,1.0,359.0,359,NaN,PENDING,NaN

In [4]:
#TOTAL AMOUNT OF SALES

total_amount_of_sales = df[['TOTAL AMOUNT']].sum()[0]
print('Total amount of sales : ',total_amount_of_sales)

#TOTAL PENDING AMOUNT

total_pending_amount = df[['TOTAL AMOUNT','STATUS']]
total_pending_amount = total_pending_amount[total_pending_amount.STATUS=='PENDING']
total_pending_amount = total_pending_amount['TOTAL AMOUNT'].sum()
print('Total amount pending : ',total_pending_amount)

#TOTAL CASH and UPI Transactions
 
def split_trans(mode):
    temp_df = df[['STATUS','TOTAL AMOUNT','MODE OF PAYMENT']]
    temp_df = temp_df[temp_df.STATUS=='PAID']
    temp_df = temp_df[temp_df['MODE OF PAYMENT']==mode]
    return temp_df['TOTAL AMOUNT'].sum()

print('Total cash received : ',split_trans('CASH'))
print('Total upi received : ',split_trans("JAY'S UPI"))

Total amount of sales :  7981
Total amount pending :  1615
Total cash received :  4155
Total upi received :  596

In [5]:
#WHICH ITEM IS SOLD MOST

temp_df = df[['ITEM CODE','COLOR','QTY']]
print(temp_df)

count_dict = {}

def count_funct(x):
    if count_dict.
    for i,c,q in x:
        pass

items = temp_df[['ITEM CODE']]
colors = temp_df[['COLOR']]
qty = temp_df[['QTY']]

x = zip(items.items(), colors.items(), qty.items())
count_funct(x)

SyntaxError: invalid syntax (Temp/ipykernel_13172/209398656.py, line 9)