In [44]:
import pandas as pd

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn import tree

In [45]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [46]:
inputs = df.drop('salary_more_then_100k', axis='columns')
target = df['salary_more_then_100k']

In [47]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [48]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_company.fit_transform(inputs['job'])
inputs['degree_n'] = le_company.fit_transform(inputs['degree'])

In [49]:
inputs_n = inputs.drop(['company','job','degree'], axis='columns')

In [50]:
inputs_n.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [51]:
model = tree.DecisionTreeClassifier()

In [52]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [55]:
model.score(inputs_n, target)

1.0

In [58]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [59]:
model.predict([[2,0,1]])

array([1], dtype=int64)